<!DOCTYPE html>
<html>
<head>
  <title>Doctor Edit Page</title>
</head>
<body>
  <h1>Doctor Edit Page</h1>
  <form action="/doctor_edit/<%=data.id%>" method="post">
      <table>
        <tr>
          <td><input type="text" name="id" value="<%= data.id %>" disabled /></td>
        </tr>
        <tr>
          <td><input type="text" name="name" value="<%= data.name %>" placeholder="name" /></td>
        </tr>
        <tr>
          <td><input type="text" name="major" value="<%= data.major %>" placeholder="major" /></td>
        </tr>
        <tr>
          <td><input type="text" name="phone" value="<%= data.phone %>" placeholder="phone" /></td>
        </tr>
      </table>
      <input type="submit" value="submit"/>
  </form>
  <a href="/doctor_table">back table page</a>
</body>
</html>