<!doctype html>
<head>
	<title>Patient Service Page</title>
    <style>
		table,th,td{
			border-collapse:collapse;
			border: 1px solid black
		}
		table{
			width:60%;
			height: 150px;
			margin:auto;
			text-align: center;
		}
		caption{
			font-size:30px;
			font-weight:bold;
		}
		a:link{text-decoration:none;}
		a:visited{text-decoration:none;}
		a:hover{text-decoration:underline;}

	</style>
</head>
<body>
<h2>Welcome <%= JSON.stringify(data[0].name) %> your carte is here</h2>
<table width="100%", border="1">
	<tr>
	<th>FOOD</th>
	<th>GOOD FOR</th>
	</tr>
    <% data.forEach(function (table, index) { %>
	<tr>
    <td><%= table.food %></td>
	<td><%= table.sick %></td>
	</tr>
	<% }); %>
	</table>

<a href="/login">logout</a>
</body>
</html>