<!doctype html>
<head>
	<title>Searched doctor data</title>
    <style>
		table,th,td{
			border-collapse:collapse;
			border: 1px solid black
		}
		table{
			width:60%;
			height: 150px;
			margin:auto;
			text-align: center;
		}
		caption{
			font-size:30px;
			font-weight:bold;
		}
		a:link{text-decoration:none;}
		a:visited{text-decoration:none;}
		a:hover{text-decoration:underline;}
	</style>
</head>
<body>
	<h1>Searched result</h1>
	
	<table width="100%", border="1">
	<tr>
	<th>NAME</th>
	<th>MAJOR</th>
	<th>PHONE</th>
	</tr>
    <% data.forEach(function (table, index) { %>
	<tr>
	<td><%= table.name %></td>
	<td><%= table.major %></td>
	<td><%= table.phone %></td>
	</tr>
	<% }); %>
	</table>
	
	<a href="/">back main</a>
</body>
</html>