<!doctype html>
<head>
	<title>User table</title>
    <style>
		table,th,td{
			border-collapse:collapse;
			border: 1px solid black
		}
		table{
			width:60%;
			height: 150px;
			margin:auto;
			text-align: center;
		}
		caption{
			font-size:30px;
			font-weight:bold;
		}
		a:link{text-decoration:none;}
		a:visited{text-decoration:none;}
		a:hover{text-decoration:underline;}
	</style>
</head>
<body>
	<table>
	<caption>User table</caption>
	<tr><td colspan="7" style="text-align:left"><a href="/user_insert">insert new data into user table</a></td></tr>
	<tr>
	<th>DELETE</th>
	<th>EDIT</th>
	<th>ID</th>
	<th>PW</th>
	<th>POSITION</th>
	
	</tr>
    <% data.forEach(function (table, index) { %>
	<tr>
	<td><a href="/user_delete/<%= table.id %>">DELETE</a></td>
    <td><a href="/user_edit/<%= table.id %>">EDIT</a></td>
    <td><%= table.id %></td>
	<td><%= table.pw %></td>
	<td><%= table.position %></td>
	</tr>
	<% }); %>
	</table>
	
	<a href="/admin">back admin</a>
</body>
</html>